{:short {:add-task        "Add"
         :length          "Length"
         :clear-plan      "Clear"
         :long-break      "Long Br"
         :min             "Min"
         :planed-duration "Planed"
         :planed-time     "Planed: "
         :planning        "Batch"
         :remove          "Del"
         :run-next        "Next"
         :sec             "Sec"
         :short-break     "Short Br"
         :single-run      "Single"
         :spent-time      "Spent"
         :start-batch     "Start"
         :start-time      "Start"
         :start-timer     "Start"
         :stop-batch      "Stop"
         :stop-timer      "Stop"
         :summary         "Sum"
         :task-name       "Task"
         :real-duration   "Real"}
 :long  {:add-task          "Add task"
         :clear-plan        "Clear plan"
         :default-task-name "Task"
         :history           "History"
         :language          "Language"
         :length            "Task length"
         :long-break        "Long break"
         :min               "Minutes"
         :pause-timer       "Pause"
         :planed-duration   "Planed duration"
         :planed-time       "Planed time: "
         :planning          "Batch run"
         :real-duration     "Real duration"
         :remove            "Remove"
         :restart           "Restart"
         :resume-timer      "Resume"
         :run-next          "Run next"
         :sec               "Seconds"
         :short-break       "Short break"
         :single-run        "Single run"
         :spent-time        "Spent time"
         :start-batch       "Start batch"
         :start-time        "Start time"
         :start-timer       "Start timer"
         :stop-batch        "Stop batch"
         :stop-timer        "Stop timer"
         :summary           "Summary"
         :task-name         "Task name"}}
