{:short {:clear-plan-short      "Törlés"
         :length-short          "Hossz"
         :long-break-short      "H. Szünet"
         :min-short             "P"
         :planed-duration-short "Tervezett"
         :planed-time-short     "Teljes: "
         :planning-short        "Köteg"
         :real-duration-short   "Valós"
         :restart-short         "Újra"
         :resume-timer-short    "Folytat"
         :sec-short             "Mp"
         :short-break-short     "R. szünet"
         :single-run-short      "Egyedi"
         :start-batch-short     "Köteg"
         :stop-batch-short      "Megállít"
         :task-name-short       "Feladat"
         :spent-time-short      "Eltöltött"}
 :long  {:add-task          "Hozzáadás"
         :clear-plan        "Köteg törlése"
         :default-task-name "Feladat"
         :history           "Előzmény"
         :length            "Feladat hossza"
         :long-break        "Hosszú szünet"
         :min               "Perc"
         :pause-timer       "Szünet"
         :planed-duration   "Tervezett hossz"
         :planed-time       "Teljes időtartam: "
         :planning          "Kötegelt futás"
         :real-duration     "Valós hossz"
         :remove            "Törlés"
         :restart           "Újraindítás"
         :resume-timer      "Folytatás"
         :run-next          "Következő"
         :sec               "Másodperc"
         :short-break       "Rövid szünet"
         :single-run        "Egyedi futás"
         :start-batch       "Köteg indítása"
         :start-time        "Elindítva"
         :start-timer       "Indít"
         :stop-batch        "Köteg megállítása"
         :stop-timer        "Megállít"
         :task-name         "Feladat neve"
         :summary           "Összegzés"
         :spent-time        "Eltöltött idő"}}
