{:add-task          "Добавить задачу"
 :clear-plan        "удалить план"
 :default-task-name "Задача"
 :history           "История"
 :length            "Длина задачи"
 :long-break        "Длинный перерыв"
 :min               "Минуты"
 :pause-timer       "Пауза"
 :planed-duration   "запланированная продолжительность"
 :planed-time       "запланированное время:"
 :planning          "Пакетный запуск"
 :real-duration     "Реальная продолжительность"
 :remove            "Удалить"
 :restart           "Перезагрузка"
 :resume-timer      "Резюме"
 :run-next          "Бежать дальше"
 :sec               "Секунды"
 :short-break       "Короткий перерыв"
 :single-run        "одиночный забег"
 :spent-time        "Проведенное время"
 :start-batch       "Старт-партия"
 :start-time        "Время начала"
 :start-timer       "Таймер запуска"
 :stop-batch        "Стоп-пакет"
 :stop-timer        "Таймер остановки"
 :summary           "Резюме"
 :task-name         "Имя задачи"}