{:short {:add-task        "Aggiungi"
         :length          "Lunghezza"
         :min             "Min"
         :pause-timer     "Pausa"
         :planed-duration "Durata"
         :planed-time     "Tempo: "
         :real-duration   "Reale"
         :run-next        "Successivo"
         :single-run      "Singola"
         :spent-time      "Tempo: "
         :start-batch     "Avvia"
         :start-time      "Avvia"
         :start-timer     "Avvia"
         :stop-batch      "Stop"
         :stop-timer      "Stop"
         :task-name       "Attività"}
 :long  {:add-task          "Aggiungi attività"
         :clear-plan        "Piano chiaro"
         :default-task-name "Attività"
         :history           "Storia"
         :language          "Lingua"
         :length            "Lunghezza attività"
         :long-break        "Pausa lunga"
         :min               "Minuto"
         :pause-timer       "Pausa"
         :planed-duration   "Durata pianificata"
         :planed-time       "Tempo pianificato: "
         :planning          "Eseguito in batch"
         :real-duration     "Durata reale"
         :remove            "Rimuovi"
         :restart           "Riavvia"
         :resume-timer      "Riprendi"
         :run-next          "Esegui successivo"
         :sec               "Secondo"
         :short-break       "Pausa breve"
         :single-run        "Corsa singola"
         :spent-time        "Tempo trascorso: "
         :start-batch       "Avvia batch"
         :start-time        "Ora di inizio"
         :start-timer       "Avvia timer"
         :stop-batch        "Stop batch"
         :stop-timer        "Stop timer"
         :summary           "Riepilogo"
         :task-name         "Nome attività"}}
