{:short {:clear-plan      "Удалить"
         :min             "Мин"
         :planning        "Пакетный"
         :real-duration   "Реальная"
         :planed-duration "Продолжительность"
         :planed-time     "Время:"
         :sec             "Сек"
         :single-run      "Одиночный"
         :start-batch     "Старт"
         :start-time      "Старт"
         :start-timer     "Старт"
         :stop-batch      "Стоп"
         :stop-timer      "Стоп"
         :task-name       "Задача"}
 :long  {:add-task          "Добавить задачу"
         :clear-plan        "удалить план"
         :default-task-name "Задача"
         :history           "История"
         :length            "Длительность задачи"
         :long-break        "Длинный перерыв"
         :min               "Минуты"
         :pause-timer       "Пауза"
         :planed-duration   "Запланированная продолжительность"
         :planed-time       "Запланированное время:"
         :planning          "Пакетный запуск"
         :real-duration     "Реальная продолжительность"
         :remove            "Удалить"
         :restart           "Перезагрузка"
         :resume-timer      "Резюме"
         :run-next          "Запустить следующий"
         :sec               "Секунды"
         :short-break       "Короткий перерыв"
         :single-run        "Одиночный запуск"
         :spent-time        "Проведенное время"
         :start-batch       "Старт-партия"
         :start-time        "Время начала"
         :start-timer       "Запустить таймер"
         :stop-batch        "Стоп-пакет"
         :stop-timer        "Остановить таймер"
         :summary           "Резюме"
         :task-name         "Имя задачи"}}