{:add-task          "Hozzáadás"
 :clear-plan        "Köteg törlése"
 :default-task-name "Feladat"
 :history           "Előzmény"
 :length            "Feladat hossza"
 :long-break        "Hosszú szünet"
 :min               "Perc"
 :pause-timer       "Szünet"
 :planed-duration   "Tervezett hossz"
 :planed-time       "Teljes időtartam: "
 :planning          "Kötegelt futás"
 :real-duration     "Valós hossz"
 :remove            "Törlés"
 :restart           "Újraindítás"
 :resume-timer      "Folytat"
 :run-next          "Következő"
 :sec               "Másodperc"
 :short-break       "Rövid szünet"
 :single-run        "Egyszeri futás"
 :start-batch       "Köteg indítása"
 :start-time        "Elindítva"
 :start-timer       "Indít"
 :stop-batch        "Köteg megállítása"
 :stop-timer        "Megállít"
 :task-name         "Feladat neve"
 :summary           "Összegzés"
 :spent-time        "Eltöltött idő"}
